html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: block;
  border: 1px solid black;
  background-color: rgba(135, 206, 250);
  transform: scale(1.5);
}
